.face {
  width: 200px;
  height: 200px;
  color: rgb(228, 196, 17);
  background-color: currentColor;
  position: absolute;
  top: 200px;
  left: 200px;
  border-radius: 100%;
  box-shadow: inset 0 0 10px #733030;
}

.face::before {
  content: "";
  width: 30px;
  height: 30px;
  color: black;
  background-color: currentColor;
  position: absolute;
  border-radius: 50%;
  top: 60px;
  left: 30px;
}
.face::after {
  content: "";
  width: 30px;
  height: 30px;
  color: black;
  background-color: currentColor;
  position: absolute;
  border-radius: 50%;
  top: 60px;
  right: 30px;
}

i {
  width: 100px;
  height: 100px;
  border-top: 3px solid transparent;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
  border-bottom: 3px solid black;
  position: absolute;
  top: 40px;
  left: 50px;
}
